<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password - CoachForm</title>
    <link rel="stylesheet" href="/static/css/change.css">
</head>
<body>
    <div class="bg-wrapper"></div>
    <div class="bg-elements">
        <div class="bg-orb"></div>
        <div class="bg-orb"></div>
    </div>
    
    <main>
        <div class="container">
            <div class="header">
                <h1>Change Your Password</h1>
                <p>Enter your new password to update your profile</p>
            </div>
            
            <form id="Form" action="/change-password" method="post">

                <div class="form-group">
                    <label for="password">Old Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <div class="form-group">
                    <label for="new-password">New Password</label>
                    <input type="password" id="new-password" name="new-password" required>
                </div>

                <div class="form-group">
                    <label for="new-password2"> Confirm New Password</label>
                    <input type="password" id="new-password2" name="new-password2" required>
                </div>
                
                
                <button type="submit">Change</button>
            </form>
            
        </div>
    </main>
    <script src="/static/js/change-password.js"></script>
</body>
</html>