<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Username - CoachForm</title>
    <link rel="stylesheet" href="/static/css/change.css">
</head>
<body>
    <div class="bg-wrapper"></div>
    <div class="bg-elements">
        <div class="bg-orb"></div>
        <div class="bg-orb"></div>
    </div>
    
    <main>
        <div class="container">
            <div class="header">
                <h1>Change Your Username</h1>
                <p>Enter your new username to update your profile</p>
            </div>
            
            <form id="Form" action="/change-username" method="post">
                <div class="form-group">
                    <label for="oldusername">New Username</label>
                    <input type="text" id="oldusername" name="old-username" required>
                </div>


                <div class="form-group">
                    <label for="newusername">New Username</label>
                    <input type="text" id="newusername" name="new-username" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <button type="submit">Change</button>
            </form>
            
        </div>
    </main>
    <script src="/static/js/change-username.js"></script>
</body>
</html>